@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);

body{
	font-family: Helvetica, sans-serif;
}

.jumbotron {
  color: white;
  text-align: center;
  background-color: #3b5998;
}

#review-form{
  border-top: 2px solid #3b5998;
  border-bottom: 2px solid #3b5998;
  
  margin-bottom: 30px;
}

#img-box {
    text-align: center;
    font-size: 16pt;
}

.rating {
  font-size: 20pt;
  color: #FFD700;
  unicode-bidi: bidi-override;
  direction: rtl;
}

.rated {
  content: "\2605";
   position: absolute;
}

.rating{
	text-align: left;
}

.star {
  color: #FFD700;
  padding-right: 10px;
}

.line {
  border-top: 1px solid #d6d6d6;
  padding: 10px;
}

.upvote{
  float: right;
}

/*form won't extend the whole way onlong screens*/
@media(min-width: 992px){

  form {
    width: 50%;

  }


}