@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);

body{
	font-family: Helvetica, sans-serif;
}

#img-box {
    text-align: center;
}

.rating {
  font-size: 20pt;
  color: #FFD700;
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
}

.rated {
  content: "\2605";
   position: absolute;
}

.rating{
	text-align: left;
}

.color {
  content: "\2605";
}

@media(min-width: 992px){

  form {
    width: 50%;

  }


}